@import "./reset.css";

$main-bg: #fefae3;
$light-square: $main-bg;
$dark-square: #d4a469;
$highlight-color: #679267;

// fonts
$font-color: #b17036;

body {
    height: 100vh;
    width: 100vw;
    background-color: $main-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-color;
}

#content {
    height: 100%;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: $dark-square;
    border-radius: 10px;

    .input-container {
        padding: 5px 5px 5px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
            padding: 0;
            display: flex;
            align-items: center;
            gap: 10px;
            height: auto;
        }
    }

    input {
        width: 50px;
        border-radius: 5px;
        background-color: $light-square;
        border: none;
    }

    button {
        padding: 5px 10px 5px 10px;
        border-radius: 15%;
    }
}

.board-container {
    height: 600px;
    width: 600px;
    background-color: $main-bg;
    display: grid;
    grid-template-rows: 0.5fr 8fr;
    grid-template-columns: 0.5fr 8fr 0.5fr;
    opacity: 0;
    transition: opacity 1500ms linear;

    .coordinates {
        &.letters {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            justify-items: center;
            align-items: center;
        }

        &.numbers {
            display: grid;
            grid-template-rows: repeat(8, 1fr);
            justify-items: center;
            align-items: center;
        }
    }

    .chess-board {
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(8, 1fr);
        border: 5px solid $dark-square;
        border-radius: 5px;

        .square {
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.light {
                background-color: $light-square;
            }
            &.dark {
                background-color: $dark-square;
            }
        }
    }
}

.destination-marker {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    grid-template-rows: 5fr 1fr 5fr;
    height: 75%;
    width: 75%;
    transform: rotate(45deg);

    .section {
        display: flex;

        &.top {
            align-items: flex-end;
        }
        &.bottom {
            align-items: flex-start;
        }
        &.left {
            justify-content: flex-end;
        }
        &.right {
            justify-content: flex-start;
        }

        .leg {
            background-color: $highlight-color;
            border-radius: 5px;
            transition: all 150ms ease-in-out;

            &.left,
            &.right {
                width: 0;
                height: 100%;
            }
            &.top,
            &.bottom {
                height: 0;
                width: 100%;
            }
        }
    }
}
